<footer>
        <div class="links_footer">
            <div class="izq_footer">
                <p>datos de dolartoday gracias a su <a href="https://s3.amazonaws.com/dolartoday/data.json" target="_blank">API</a></p>
                <p>datos de AirTM gracias a <a href="https://airtmrates.com" target="_blank">airtmrates.com</a></p>
                <p><div>Logo made with <a href="https://www.designevo.com/en/" title="Free Online Logo Maker" target="_blank">DesignEvo</a></div></p>
            </div>
            <div class="der_footer">
                <p><a href="#">cómo funciona éste sitio web?</a></p>
            </div>
        </div>

        <div class="cont_copy">
            <div class="copy">
                <a href="#">calculatudolar.online</a> copyright 2018
            </div>
            <div class="img_footer_logo">
                    {% load static %}
                    <img id="logo" src="{% static 'img/logo2.png' %}" alt="calcular-dolar-venezuela">        
            </div>
        </div>
    </footer>
