*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* ==================== header ==================== */
.header{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #333542;
    z-index: 99;
    padding: 5px;
    transition: .4s;
}
.header a{
    text-decoration: none;
    font-size: 21px;
    color: white;
}
.header a:hover{
    border-top: 2px solid rgb(68, 156, 68);
    border-bottom: 2px solid #4a91de;
}
.espaciado{
    height: 110px;
}
#contenedorLogo{
    width: 200px;
    transition: .4s;
}
#logo{
    width: 100%;
    transition: .3s;
}
/* ==================== header ==================== */

.opciones_principales button{
    padding: 9px;
    border-radius: 7px;
    border: 1px white solid;
    outline: none;
    cursor: pointer;
    color: white;
    font-size: 20px;
    margin-bottom: 7px;
    margin-top: 7px;
}
#botonToday,
#botonAirtm,
#botonMonitor,
#botonBcucuta{
    background: rgb(209, 209, 209);
    transition: .3s;
    color: black;
}
#botonToday:hover{
    background: rgb(68, 156, 68);
    color: white;
}
#botonAirtm:hover{
    background: #4a91de;
    color: white
}
#botonMonitor:hover{
    background: rgb(248, 92, 35);
    color: white;
}
#botonBcucuta:hover{
    background: #ffdd27;
    color: rgb(116, 115, 115);
}

/* ====================== tasas =================== */
#fecha{
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
}
.tasas_principal_container_master{
    display: flex;
    justify-content: center;
    width: 100%;
}

.tasas_principal_container{
    width: 93%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    padding: 20px 0;
}

.contenedorTasasToday,
.contenedorTasasAirtm,
.contenedor_de_tasas_monitor,
.contenedor_tasa_Bcucuta{
    border-radius: 10px;
}
.contenedorTasasToday{
    background: rgb(68, 156, 68);
}
.contenedorTasasAirtm{
    background: #4a91de;
}

.tasasToday{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 50px repeat(4,50px);
    text-align: center;
    align-items: center;
    border-radius: 10px;


}
.tasasToday div{
    display: flex;
    justify-content: center;
    align-items: center;height: 100%;
}
.tasasAirtm{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 50px repeat(4,50px);
    text-align: center;
    align-items: center;
    border-radius: 10px;

}

.tasasAirtm div{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
}

        .infoDolarToday,.infoAirtm{
            font-weight: bold;
            font-size: 23px;
        }

.titulo_categoria{
    text-align: center;
    font-weight: bold;
    font-size: 33px;
}

.tasaToday,.tasaAirtm,.tasaMonitor,.tasasBcucuta{
    font-size: 20px;
}
/* =************tasa de monitor dolar*********= */
.tasasMonitor{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,50px);
}
    .tasasMonitor div{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
.contenedor_de_tasas_monitor{
    background: rgb(248, 92, 35);
}

/* bolivar cucuta ===============*/
.contenedor_tasa_Bcucuta{
    background: #ffdd27;
    border: 1px solid rebeccapurple;
}

    .tasasBcucuta{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
    .tasasBcucuta div{
        width: 100%;
    }
    #tBcucuta{
        font-size: 26px;
        padding-top: 25px;
    }

                
.fondoTasa{
    background: rgba(218, 217, 217, 0.856);
}
.ctasa{
    border: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 30px;
    font-weight: bold;
}
/* ====================== tasas =================== */


/* ========================== calculadoras ========================= */
.titulo_calculadora_cont{
    width: 100%;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.titulo_calculadora_cont button{
    border-radius: 9px;
    background: #333542;
    color: white;
    padding: 6px;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.contenedor_principal_calculadoras{
    position: relative;
    width: 100%;
}

.opciones_principales{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 45px;
}
.botonTodayCont,
.botonAirtmCont,
.botonMonitorCont,
.botonBcucutaCont{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 10px 0;
}
.botonTodayCont{
    background: green;
}
.botonAirtmCont{
    background: #4a91de;
}
.botonMonitorCont{
    background: rgb(248, 92, 35);
}
.botonBcucutaCont{
    background: #ffdd27;
}
.contenedor_calculadoras{
    width: 100%;
    height: auto;
    padding: 18px 0px;
    position: relative;
    background: #4a91de;
}
    .div_calc_today,
    .div_calc_airtm,
    .div_calc_monitor,
    .div_calc_Bcucuta{
        padding: 20px;
        display: none;
        justify-content: space-evenly;
        align-items: center;
    }
        .div_calc_today input,
        .div_calc_airtm input,
        .div_calc_monitor input,
        .div_calc_Bcucuta input{
            height: 35px;
            width: 290px;
            border-radius: 5px;
            padding: 4px;
            font-size: 22px;
        }
            .div_calc_today input:focus,.div_calc_airtm input:focus{
                background: rgb(230, 230, 230);
            }

            /* calculadora activa */
            .active{
                display: flex;
            }

/* selects */
select{
    padding: 8px;
    border-radius: 5px;
    font-size: 18px;
}

/* contenedor del resultado */
#mostrando{
    min-height: 70px;

}

.contenedor_resultado{
    text-align: center;
    padding: 37px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cambiar_orden{
    font-family: arial;
    cursor: pointer;
    color: rgb(73, 73, 255);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cambiar_orden:hover{
    color: rgb(223, 160, 45);
    text-decoration: underline;
}

#flechas{
    width: 40px;
}
/* ayuda de airtm */
#ayuda_descriptiva{
    text-align: center;
}

#ayuda_descriptiva ul{
 list-style: none;
}

/* =========================== footer ==================================== */
footer{
    width: 100%;
    height: auto;
    background: #333542;
}
.links_footer{
    /* width: 100%; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-size: 19px;
    height: 150px;
    padding: 10px;
}

            .links_footer a{
                color: rgb(185, 187, 255);
                text-decoration: none;
            }
            .links_footer a:hover{
                color: rgb(255, 119, 70);
                text-decoration: underline;
            }
            .links_footer p{
                margin-bottom: 15px;
            }

.cont_copy{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2px 0;
    border-top: 2px dashed rgb(231, 231, 231);
}

        .copy{
            color: rgb(199, 195, 195);
            font-size: 17px;
        }
        .copy a{
            color: rgb(190, 235, 250);
        }
        .copy a:hover{
            color: rgb(255, 150, 30);
            text-decoration: none;
        }
.img_footer_logo{
    width: 100px;
}
        .img_footer_logo img{
            width: 100%;
        }

        #github_logo{
            width: 32px;
            height: 32px;
        }
/* =========================== footer ==================================== */


/* ========================== responsive design =================== */
@media screen and (max-width: 801px){
    
    header{
        height: auto;
    }
    
    #contenedorLogo{
        width: 121px;
    }
    
    #fecha{
        font-size: 21px;
    }
    
    .tasas_principal_container{
        grid-template-columns: 1fr;
    }

    .ctasa{
        font-size: 25px;
    }

    .titulo_calculadora_cont{
        text-align: center;
    }

    .opciones_principales{
        height: 160px;
        flex-direction: column;
    }
    .div_calc_today,.div_calc_airtm{
        flex-direction: column;
    }

    #mostrando{
        text-align: center;
    }

    .links_footer{
        font-size: 16px;
    }
    
}